{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="size1 bg0 where1-parent">
		<!-- Coutdown -->
		<div class="flex-c-m bg-img1 size2 where1 overlay1 where2 respon2" style="background-image: url('/static/image/bg01.jpg.jpg');">
			<div class="wsize2 flex-w flex-c-m cd100 js-tilt">
				<img src="{% static 'image/icons/unbound_stays_logo.png' %}">
			</div>
		</div>

		<!-- Form -->
		<div class="size3 flex-col-sb flex-w p-l-75 p-r-85 p-t-45 p-b-45 respon1" id="id_content">
            <div></div><div></div>
            <div class="p-t-0 p-b-100">

				<p class="m1-txt1 p-b-36 ">
                    Whether you're a hotel / homestay / resort / campsite or a traveller
                    looking to <span class="m1-txt2">"Unbound"</span> your business or travel quests,<br>


				</p>
                <p class="m1-txt2 p-b-5" >
                    share your contact details below.
                </p>
				<form class="contact100-form validate-form" method="post" action="soon.html">
                    {% csrf_token %}
					<div class="wrap-input100 m-b-10 validate-input" data-validate = "Name is required">
                        <div class="col-sm-offset-2 col-sm-10">
                            <span class="text-dager small">{{ fields.errors }}</span>
                        </div>
                        <label for="name" hidden>a</label>
						<input class="s2-txt1 placeholder0 input100" type="text" name="name" placeholder="Your Name">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 m-b-10 validate-input" data-validate = "Name is required">
                        <div class="col-sm-offset-2 col-sm-10">
                            <span class="text-dager small">{{ fields.errors }}</span>
                        </div>
                        <label for="business_name" hidden>a</label>
						<input class="s2-txt1 placeholder0 input100" type="text" name="business_name" placeholder="Business Name">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 m-b-10 validate-input" data-validate = "Name is required">
                        <div class="col-sm-offset-2 col-sm-10">
                            <span class="text-dager small">{{ fields.errors }}</span>
                        </div>
                        <label for="number" hidden>a</label>
						<input class="s2-txt1 placeholder0 input100" type="number" name="number" placeholder="Phone Number">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 m-b-20 validate-input" data-validate = "Email is required: ex@abc.xyz">
                        <div class="col-sm-offset-2 col-sm-10">
                            <span class="text-dager small">{{ fields.errors }}</span>
                        </div>
                        <label for="email" hidden>a</label>
						<input class="s2-txt1 placeholder0 input100" type="email" name="email" placeholder="Email Address">
						<span class="focus-input100"></span>
					</div>

					<div class="w-full">
						<button class="flex-c-m s2-txt2 size4 bg1 bor1 hov1 trans-04" type="submit">
							Submit
						</button>
					</div>
				</form>

				<p class="s2-txt3 p-t-18 ">
                    {% if messages %}
                        <div class="alert alert-success">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}

				</p>
			</div>


		</div>
	</div>

{% endblock %}